In [ ]:
#Nama:Fawwaz Anugrah Wiradhika Dharmasatya
#NIM:16520059
#Universitas:Institut Teknologi Bandung(ITB)
#Tanggal mulai:8 November 2020

#Problem Framing
#Membuat aplikasi cari jodoh

In [ ]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import pickle

In [ ]:
df = pd.read_csv("/content/takemeout.csv")
df.head()

                     Timestamp  ... Seberapa penting bantuan dari calon pacar untuk kamu?
0  2020/10/31 3:39:25 PM GMT+7  ...                                                  3
1  2020/10/31 3:39:36 PM GMT+7  ...                                                  2
2  2020/10/31 3:39:38 PM GMT+7  ...                                                  4
3  2020/10/31 3:39:42 PM GMT+7  ...                                                  3
4  2020/10/31 3:39:43 PM GMT+7  ...                                                  4

[5 rows x 8 columns]

#Data Preprocessing

In [ ]:
df = df.iloc[:,1:]#Menghilangkan si timestamp

In [ ]:
df.head()

  Siapa nama kamu?  ... Seberapa penting bantuan dari calon pacar untuk kamu?
0  A**************  ...                                                  3
1            L****  ...                                                  2
2     Y***********  ...                                                  4
3             a***  ...                                                  3
4            B****  ...                                                  4

[5 rows x 7 columns]

In [ ]:
df.columns = ['name','gender','qt','touch','words','gift','service']

In [ ]:
df.head()

              name gender  qt  touch  words  gift  service
0  A**************  Cowok   5      5      4     1        3
1            L****  Cewek   5      5      3     2        2
2     Y***********  Cowok   4      3      4     4        4
3             a***  Cowok   5      5      5     2        3
4            B****  Cowok   5      5      5     2        4

In [ ]:
df['gender']= df['gender'].apply(lambda x:0 if x=='Cowok' else 1)
m_df = df[df['gender']==0]
f_df = df[df['gender']==1]

In [ ]:
m_X = m_df.drop(['name','gender'],axis = 1)
f_X = f_df.drop(['name','gender'],axis = 1)

     qt  touch  words  gift  service
0     5      5      4     1        3
2     4      3      4     4        4
3     5      5      5     2        3
4     5      5      5     2        4
5     5      5      4     2        2
..   ..    ...    ...   ...      ...
95    5      4      4     4        5
96    5      1      4     2        3
98    5      5      5     5        4
99    1      1      1     1        1
100   5      5      5     5        4

[81 rows x 5 columns]

In [ ]:
df.head()

              name  gender  qt  touch  words  gift  service
0  A**************       0   5      5      4     1        3
1            L****       1   5      5      3     2        2
2     Y***********       0   4      3      4     4        4
3             a***       0   5      5      5     2        3
4            B****       0   5      5      5     2        4

#Model Development

In [ ]:
m_nbrs = NearestNeighbors(n_neighbors=5).fit(m_X)
f_nbrs = NearestNeighbors(n_neighbors=5).fit(f_X)

In [ ]:
X = df.drop(['name','gender'],axis=1)

In [ ]:
test = X[df['name']=='j****'].values

In [ ]:
_, idx = f_nbrs.kneighbors(test)

In [ ]:
idx

array([[ 5,  2, 15, 11,  0]])

In [ ]:
f_df.iloc[idx[0]]['name']

27             v****
20    F*************
72            N*****
62                 S
1              L****
Name: name, dtype: object

In [ ]:
pickle.dump(m_nbrs,open('/content/m_model.pickle','wb'))
pickle.dump(f_nbrs,open('/content/f_model.pickle','wb'))

In [ ]:
df.to_csv("/content/data.csv",index=False)

#Presentation

In [ ]:
df['qt'].idxmin()#Indeks si qt agar min

13

In [ ]:
df['qt'][13]

1

In [ ]:
df['touch'].idxmin()#Indeks si touch agar min

9

In [ ]:
df['touch'][9]

1

In [ ]:
df['words'].idxmin()#Indeks si words agar min

9

In [ ]:
df['words'][9]

1

In [ ]:
df['gift'].idxmin()#Indeks si gift agar min

0

In [ ]:
df['gift'][0]

1

In [ ]:
df['service'].idxmin()#Indeks si service agar min

16

In [ ]:
df['service'][16]

1

In [ ]:
df['qt'].idxmax()#Indeks si qt agar max

0

In [ ]:
df['qt'][0]

5

In [ ]:
df['touch'].idxmax()#Indeks si touch agar max

0

In [ ]:
df['touch'][0]

5

In [ ]:
df['words'].idxmax()#Indeks si words agar max

3

In [ ]:
df['words'][3]

5

In [ ]:
df['gift'].idxmax()#Indeks si gift agar max

9

In [ ]:
df['gift'][9]

5

In [ ]:
df['service'].idxmax()#Indeks si service agar max

9

In [ ]:
df['service'][9]

5

In [ ]:
df['qt'].mean()#Rata-rata quality time

4.099009900990099

In [ ]:
df['touch'].mean()#Rata-rata touch

3.1683168316831685

In [ ]:
df['words'].mean()#Rata-rata words

3.722772277227723

In [ ]:
df['gift'].mean()#Rata-rata gift

2.732673267326733

In [ ]:
df['service'].mean()#Rata-rata gift

3.7524752475247523

In [ ]:
#Insight baru

In [ ]:
print(m_df)

                      name  gender  qt  touch  words  gift  service
0          A**************       0   5      5      4     1        3
2             Y***********       0   4      3      4     4        4
3                     a***       0   5      5      5     2        3
4                    B****       0   5      5      5     2        4
5               M*********       0   5      5      4     2        2
..                     ...     ...  ..    ...    ...   ...      ...
95                   N****       0   5      4      4     4        5
96               A********       0   5      1      4     2        3
98                      M*       0   5      5      5     5        4
99   K********************       0   1      1      1     1        1
100           B***********       0   5      5      5     5        4

[81 rows x 7 columns]

In [ ]:
print(f_df)

                                                 name  gender  ...  gift  service
1                                               L****       1  ...     2        2
19                                    M**************       1  ...     5        5
20                                     F*************       1  ...     1        3
23                                               B***       1  ...     5        4
25                                               E***       1  ...     1        5
27                                              v****       1  ...     3        3
33                                               H***       1  ...     2        5
46                              A********************       1  ...     1        1
47                                       H***********       1  ...     1        5
49                                             A*****       1  ...     4        5
54                                              H****       1  ...     1        1
62                                                  S       1  ...     3        4
64                                                 M*       1  ...     3        5
65                                              w****       1  ...     1        3
70                                            a******       1  ...     5        5
72                                             N*****       1  ...     2        4
73                                               R***       1  ...     3        5
79  a*********************************************...       1  ...     3        2
93                                            F******       1  ...     4        4
97                                      K************       1  ...     4        3

[20 rows x 7 columns]

In [ ]:
#Ada 81 Laki-laki dan 20 perempuan dalam survey ini

In [ ]:
#Dari rata-rata setiap aspek,dapat disimpulkan respondesns lebih mementingkan quality time dengan pasangan.

In [ ]:
#Gift merupakan aspek yg prioritas kepentingannya paling rendah jika dilihat dari rata-rata

#Model Deployment

In [ ]:
nama = input("Masukkan nama anda:")
gender = int(input("Jenis kelamin anda(0/1)?"))
q_time = int(input("Seberapa penting quality time(1-5)"))
t_time = int(input("Seberapa penting touch(1-5)"))
w_time = int(input("Seberapa penting kata-kata(1-5)"))
g_time = int(input("Seberapa penting hadiah(1-5)"))
s_time = int(input("Seberapa penting service(1-5)"))

Masukkan nama anda:a
Jenis kelamin anda(0/1)?0
Seberapa penting quality time(1-5)1
Seberapa penting touch(1-5)1
Seberapa penting kata-kata(1-5)1
Seberapa penting hadiah(1-5)1
Seberapa penting service(1-5)1

TypeError: ignored