<a href="https://colab.research.google.com/github/alifiarahmah/DSCDataScience/blob/main/alifiarahmah/DSC_2_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tugas Event #2 - Solving Real-World Problems with Data Science
Nama: Alifia Rahmah<br>
NIM: 16520309

### Import module Panda

In [ ]:
import pandas as pd

### Mengambil Data
Untuk tugas ini, saya mengambil data dari Kaggle, dengan judul "Movies on Netflix, Prime Video, Hulu and Disney+" oleh Ruchi Bhatia.<br>
[Sumber](https://www.kaggle.com/ruchi798/movies-on-netflix-prime-video-hulu-and-disney)

In [ ]:
mov = pd.read_csv("movies.csv", index_col=1)

In [ ]:
mov.head()

    Unnamed: 0  ... Runtime
ID              ...
1            0  ...   148.0
2            1  ...   136.0
3            2  ...   149.0
4            3  ...   116.0
5            4  ...   161.0

[5 rows x 16 columns]

### Data Preparation

In [ ]:
mov = mov.iloc[:, 1:]

In [ ]:
mov.columns = ['title', 'year', 'age', 'imdb', 'rotten', 'netflix', 'hulu', 'prime', 'disney', 'type', 'directors', 'genres', 'countery', 'language', 'runtime']

In [ ]:
mov.loc[2, 'title']

'The Matrix'